@import controllers.ui.{routes => uiRoutes}
@import helper._
@import views.AuthForView
@import views.html.Main
@import views.html.components.forms.{SlidingCheckbox, TextInput}

@(form: Form[RegisteredApplication], services: Seq[String])(implicit rh: RequestHeader, msgs: MessagesApi, lang: Lang)

@Main("Register an OAuth Client", AuthForView.isAuthenticated(rh), AuthForView.isOrgUser(rh)) {
    <img class="mb-4" src="@routes.Assets.at("images/logo.png")" alt="" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Register a Client</h1>

    <hr>

    <form action="@{uiRoutes.ClientController.submitPreset()}" method="post">
        @CSRF.formField

        <select name="preset-choice" class="form-control">
            @for(service <- services) {
                <option value=@{service.replace(" ", "-")}>@service.capitalize</option>
            }
        </select>

        <hr>

        <button class="btn btn-lg btn-primary btn-block" id="registration-submit" type="submit">Create preset client</button>
    </form>

    <hr>

    <form action="@{uiRoutes.ClientController.submitAppReg()}" method="post">
        @CSRF.formField

        @emptyForm(form)

        @SlidingCheckbox(
            form("clientType"),
            "confidential",
            "public",
            Symbol("_id") -> "inputClientType",
            Symbol("_name") -> "clientType"
        )

        <hr>

        <button class="btn btn-lg btn-primary btn-block" id="registration-submit" type="submit">Create client</button>
    </form>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/sliding-checkbox.css")">
}

@emptyForm(form: Form[RegisteredApplication]) = {
    @TextInput(
        form("name"),
        isReadOnly = false,
        Symbol("_id") -> "nameInput",
        Symbol("_name") -> "name",
        Symbol("_label") -> "Name",
        Symbol("_type") -> "text",
        Symbol("_class") -> "form-control form-input-topper"
    )

    @TextInput(
        form("desc"),
        isReadOnly = false,
        Symbol("_id") -> "descInput",
        Symbol("_name") -> "desc",
        Symbol("_label") -> "Description",
        Symbol("_type") -> "text",
        Symbol("_class") -> "form-control form-input-middle"
    )

    @TextInput(
        form("homeUrl"),
        isReadOnly = false,
        Symbol("_id") -> "homeUrlInput",
        Symbol("_name") -> "homeUrl",
        Symbol("_label") -> "Home URL",
        Symbol("_type") -> "text",
        Symbol("_class") -> "form-control form-input-middle"
    )

    @TextInput(
        form("redirectUrl"),
        isReadOnly = false,
        Symbol("_id") -> "redirectUrlInput",
        Symbol("_name") -> "redirectUrl",
        Symbol("_label") -> "Redirect URL",
        Symbol("_type") -> "text",
        Symbol("_class") -> "form-control form-input-middle"
    )

    @TextInput(
        form("iconUrl"),
        isReadOnly = false,
        Symbol("_id") -> "iconUrlInput",
        Symbol("_name") -> "iconUrl",
        Symbol("_label") -> "Icon URL",
        Symbol("_type") -> "text",
        Symbol("_class") -> "form-control form-input-bottom"
    )
}
