@import controllers.ui.{routes => uiRoutes}
@import views.AuthForView
@import views.html.Main

@()(implicit rh: RequestHeader, msgs: MessagesApi, lang: Lang)

@Main("Email verified", AuthForView.isAuthenticated(rh), AuthForView.isOrgUser(rh)) {
    <img class="mb-4" src="@routes.Assets.at("images/logo.png")" alt="" height="72">
    <h1 id="title" class="h3 mb-3 font-weight-normal">Email verified</h1>

    <hr>

    <p class="default-text">You have successfully verified your email address</p>
    <p class="default-text">Click the button below to sign into your account</p>

    <hr>

    <a class="btn btn-lg btn-primary btn-block" href="@uiRoutes.LoginController.loginShow()">Sign in</a>
}
