@import controllers.ui.{routes => uiRoutes}
@import views.AuthForView
@import views.html.Main

@()(implicit rh: RequestHeader, msgs: MessagesApi, lang: Lang)

@Main("Register an OAuth Service", AuthForView.isAuthenticated(rh), AuthForView.isOrgUser(rh)) {
    <img class="mb-4" src="@routes.Assets.at("images/logo.png")" alt="" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Welcome</h1>

    <hr>

    <p class="default-text">Your account has been created, sign in below.</p>

    <p class="default-text">We have also sent an email to the email address you provided. Please use the link in the email to verify your email address.</p>

    <hr>

    <a class="btn btn-lg btn-primary btn-block" href="@uiRoutes.LoginController.loginShow()">Sign in</a>
}
