@import views.html.Main
@import org.joda.time.DateTime
@import helper._
@import forms.RegistrationForm

@import forms.NewUser
@()(implicit rh: RequestHeader)

@Main("Register for an account") {
    <form class="form-signin" action="@routes.RegistrationController.submit()" method="post">
        <img class="mb-4" src="@routes.Assets.at("images/logo.png")" alt="" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>

        <hr>

        @CSRF.formField

        <label for="inputUsername" class="sr-only">User name</label>
        <input type="text" name="userName" id="inputUsername" class="form-control form-input-topper" placeholder="User name" required="" autofocus="">

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control form-input-middle" placeholder="Email address" required="" autofocus="">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control form-input-bottom" placeholder="Password" required="">

        <label class="value-picker">
            <input class="checkbox-slider" name="accType" id="inputAccType" type="checkbox" value="Organisation"/>
            <input class="checkbox-slider" name="accType" id="inputAccType" type="hidden" value="Individual"/>
            <div class="slider">
                <div> </div>
            </div>
            <div class="labels">
                <p>Individual</p>
                <p>Organisation</p>
            </div>
        </label>

        <button id="account-type-picker" type="button" class="btn btn-info btn-wide" data-toggle="modal" data-target="#accountTypeExplanation">
            What type of account do I need?
        </button>

        <hr>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <p class="mt-5 mb-3 text-muted">© CJWW Development 2016-@(DateTime.now().getYear)</p>
    </form>

    <div class="modal fade" id="accountTypeExplanation" tabindex="-1" role="dialog" aria-labelledby="accountTypeExplanationTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="accountTypeExplanationTitle">What type of account do I need?</h5>
                </div>
                <div class="modal-body left-align">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <h5 class="card-header">Individual account</h5>
                                <div class="card-body">
                                    <p class="card-text left-align">Content pending.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card">
                                <h5 class="card-header">Organisation account</h5>
                                <div class="card-body">
                                    <p class="card-text left-align">Content pending.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-wide btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}