<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration debug="false">
  <conversionRule conversionWord="coloredLevel" converterClass="com.cjwwdev.logging.converters.ColouredLogLevelConversion" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${application.home:-.}/logs/application-json.log</file>
    <encoder class="com.cjwwdev.logging.encoders.JsonLoggingEncoding" />
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%coloredLevel timestamp=[%date{ISO8601}] thread=[%thread] locale=[%logger] %message %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="play"                                                level="INFO" />
  <logger name="application"                                         level="INFO" />
  <logger name="repositories"                                        level="INFO" />
  <logger name="Logging filter"                                      level="INFO" />

  <logger name="reactivemongo.api.MongoDriver"                       level="OFF" />
  <logger name="play.modules.reactivemongo.DefaultReactiveMongoApi"  level="OFF" />

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.common.PropertyMapLoader"            level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript"            level="OFF" />

  <root level="INFO">
    <appender-ref ref="ASYNCFILE"   />
    <appender-ref ref="ASYNCSTDOUT" />
  </root>
</configuration>