<!--
  ~ Copyright 2021 CJWW Development
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration debug="false">
  <conversionRule conversionWord="coloredLevel" converterClass="dev.cjww.logging.converters.HighlightedLogLevelConverter" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%coloredLevel timestamp=[%date{ISO8601}] thread=[%thread] locale=[%logger] %message %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="play"                                                level="INFO" />
  <logger name="application"                                         level="INFO" />
  <logger name="repositories"                                        level="INFO" />
  <logger name="Logging filter"                                      level="INFO" />

  <logger name="reactivemongo.ui.MongoDriver" level="OFF" />
  <logger name="play.modules.reactivemongo.DefaultReactiveMongoApi"  level="OFF" />

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.common.PropertyMapLoader"            level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript"            level="OFF" />

  <root level="OFF">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>