@import controllers.routes
@import controllers.ui.{routes => uiRoutes}
@import views.AuthForView
@import views.html.Main

@(apps: Seq[RegisteredApplication])(implicit rh: RequestHeader)

@Main("View all your authorised apps", AuthForView.isAuthenticated(rh), AuthForView.isOrgUser(rh)) {
    <img class="mb-4" src="@routes.Assets.at("images/logo.png")" alt="" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Authorised apps</h1>
    <hr>

    @if(apps.isEmpty) {
        <p class="default-text">You have no authorised apps</p>
    } else {
        <p class="default-text">These are the apps you have given permission to, to access your data</p>

        @for(app <- apps) {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@{app.name}</h5>
                    <p class="default-text">@{app.desc}</p>
                    <a href="@uiRoutes.ClientController.getAuthorisedApp(app.appId)" class="btn btn-primary btn-block">View</a>
                </div>
            </div>
        }
    }

    <script>
        let pageState = 0;

        const changePage = (page) => {
            document.getElementById(`group-tab-${pageState}`).classList.remove("active");
            document.getElementById(`group-tab-${page}`).classList.add("active");

            document.getElementById(`group-${page}`).removeAttribute("hidden")
            document.getElementById(`group-${pageState}`).setAttribute("hidden", "")

            pageState = page;
        };
    </script>
}
