@import controllers.routes
@import controllers.ui.{routes => uiRoutes}
@import views.AuthForView
@import views.html.Main

@(apps: Seq[Seq[RegisteredApplication]])(implicit rh: RequestHeader)

@Main("View all your clients", AuthForView.isAuthenticated(rh), AuthForView.isOrgUser(rh)) {
    <img class="mb-4" src="@routes.Assets.at("images/logo.png")" alt="" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Registered clients</h1>
    <hr>

    @if(apps.isEmpty) {
        <p class="default-text">You have no registered clients</p>
    } else {
        @for((appGroup, i) <- apps.zipWithIndex) {
            <div @if(i != 0) { hidden } id="group-@i">
            @for(app <- appGroup) {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@{app.name}</h5>
                        <p class="default-text">@{app.desc}</p>
                        <a href="@uiRoutes.ClientController.getClientDetails(app.appId)" class="btn btn-primary btn-block">View</a>
                    </div>
                </div>
            }
        </div>
}

        @if(apps.length > 1) {
            <nav>
                <ul class="pagination justify-content-center">
                @for((_, idx) <- apps.zipWithIndex) {
                    <li class="page-item @if(idx == 0) {active}" id="group-tab-@idx">
                        <a class="page-link" onclick='changePage(@idx)'>@{idx + 1}</a>
                    </li>
                }
                </ul>
            </nav>
        }
    }
    <hr>

    <a class="btn btn-lg btn-primary btn-block" href="@uiRoutes.ClientController.showAppReg()">Register a client</a>

    <script>
        let pageState = 0;

        const changePage = (page) => {
            document.getElementById(`group-tab-${pageState}`).classList.remove("active");
            document.getElementById(`group-tab-${page}`).classList.add("active");

            document.getElementById(`group-${page}`).removeAttribute("hidden")
            document.getElementById(`group-${pageState}`).setAttribute("hidden", "")

            pageState = page;
        };
    </script>
}
