@import controllers.routes
@import controllers.ui.{routes => uiRoutes}
@import org.joda.time.DateTime
@import views.html.Main
@import views.html.helper.CSRF
@import views.AuthForView

@(app: RegisteredApplication, tokenExpiry: TokenExpiry, validScopes: Seq[Scope])(implicit rh: RequestHeader)

@Main("View a registered client", AuthForView.isAuthenticated(rh), AuthForView.isOrgUser(rh)) {
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@@3.0.1" async></script>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/checkbox.css")">

    <div class="form-signin">
        <img class="mb-4" src="@routes.Assets.at("images/logo.png")" alt="" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Registered client</h1>
        <hr>

        <div class="card card-blue">
            <div class="card-body">
                <svg data-jdenticon-value="@{app.name}" width="100" height="100"/>
                <h4 class="card-title">@{app.name}</h4>
                <p>@{app.desc}</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title default-text">Client details</h4>
                <p class="default-text"><strong>Client Id</strong></p>
                <p class="default-text">@{app.clientId}</p>
                <hr>
                <p class="default-text"><strong>Client type</strong></p>
                <p class="default-text">@{app.clientType}</p>
                <hr>
                <p class="default-text"><strong>Created on</strong></p>
                <p class="default-text">@{app.createdAt.toLocalDate}</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title default-text">Redirects</h4>
                <form action="@uiRoutes.ClientController.updateHomeAndRedirect(app.appId)" method="post">
                    @CSRF.formField

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Home</span>
                        </div>
                        <input type="text" class="form-control" name="home-url" value="@{app.homeUrl}">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Redirect</span>
                        </div>
                        <input type="text" class="form-control" name="redirect-url" value="@{app.redirectUrl}">
                    </div>

                    <div class="alert alert-warning" role="alert">
                        Localhost addresses can be used for development and testing. For live services, localhost should not be used and the address should use a secure protocol (https)
                    </div>

                    <hr>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update redirects</button>
                </form>
            </div>
        </div>

        @if(app.clientSecret.isDefined) {
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title default-text">Secret</h4>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Secret</span>
                        </div>
                        <input type="password" id="secret-pass" class="form-control" value="@{app.clientSecret.get}">
                        <input type="text" id="secret-text" class="form-control" hidden value="@{app.clientSecret.get}">
                    </div>

                    <hr>

                    <div class="white-text">
                        <a class="btn btn-lg btn-success btn-block" id="secret-button" onclick="changeInputType()">Reveal secret</a>
                    </div>
                </div>
            </div>
        }

        <div class="card">
            <div class="card-body">
                <h4 class="card-title default-text">Allowed OAuth2 flows</h4>

                <form action="@uiRoutes.ClientController.updateOAuthFlows(app.appId)" method="post">
                    @CSRF.formField

                    <label class="checkbox checkbox-success" for="auth-code-check">
                        <input type="checkbox" id="auth-code-check" name="auth-code-check" value="authorization_code" @if(app.oauth2Flows.contains("authorization_code")){ checked }/> Auth code grant
                    </label>

                    <label class="checkbox checkbox-success" for="client-cred-check">
                        <input type="checkbox" id="client-cred-check" name="client-cred-check" value="client_credentials" @if(app.oauth2Flows.contains("client_credentials")){ checked }/> Client credentials
                    </label>

                    <label class="checkbox checkbox-success" for="refresh-check">
                        <input type="checkbox" id="client-cred-check" name="client-cred-check" value="refresh_token" @if(app.oauth2Flows.contains("refresh_token")){ checked }/> Refresh token grant
                    </label>

                    <hr>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update flows</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title default-text">Allowed scopes</h4>

                <form action="@uiRoutes.ClientController.updateOAuthScopes(app.appId)" method="post">
                    @CSRF.formField

                    @for(scope <- validScopes) {
                        <label class="checkbox checkbox-success" for="@{scope.name}-check">
                            <input type="checkbox" id="@{scope.name}-check" name="@{scope.name}-check" value="@{scope.name}" @if(app.oauth2Scopes.contains(scope.name)) { checked }/> @{scope.readableName}
                        </label>
                    }

                    <hr>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update scopes</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title default-text">Token expiry</h4>

                <form action="@uiRoutes.ClientController.updateTokenExpiry(app.appId)" method="post">
                    @CSRF.formField

                    <p class="default-text"><strong>Id token</strong></p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Days</span>
                        </div>
                        <input type="number" min="0" class="form-control" placeholder="How many days the token is valid" name="id-token-days" value="@{tokenExpiry.idTokenDays}">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Mins</span>
                        </div>
                        <input type="number" min="5" max="60" class="form-control" placeholder="How many mins the token is valid" name="id-token-mins" value="@{tokenExpiry.idTokenMins}">
                    </div>

                    <div class="alert alert-info" role="alert">Must be between 5 minutes and 1 day</div>

                    <hr>

                    <p class="default-text"><strong>Access token</strong></p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Days</span>
                        </div>
                        <input type="number" min="0" class="form-control" placeholder="How many days the token is valid" name="access-token-days" value="@{tokenExpiry.accessTokenDays}">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Mins</span>
                        </div>
                        <input type="number" min="0" max="60" class="form-control" placeholder="How many mins the token is valid" name="access-token-mins" value="@{tokenExpiry.accessTokenMins}">
                    </div>

                    <div class="alert alert-info" role="alert">Must be between 5 minutes and 1 day</div>

                    <hr>

                    <p class="default-text"><strong>Refresh token</strong></p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Days</span>
                        </div>
                        <input type="number" min="0" max="3650" class="form-control" placeholder="How many days the token is valid" name="refresh-token-days" value="@{tokenExpiry.refreshTokenDays}">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Mins</span>
                        </div>
                        <input type="number" min="0" max="60" class="form-control" placeholder="How many mins the token is valid" name="refresh-token-mins" value="@{tokenExpiry.refreshTokenMins}">
                    </div>

                    <p class="default-text">Must be between 60 minutes and 3650 days</p>
                    <div class="alert alert-info" role="alert">Must be between 60 minutes and 3650 days</div>

                    <hr>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update expiry</button>
                </form>
            </div>
        </div>

        <hr>

        @if(app.clientType == "confidential") {
            <a class="btn btn-lg btn-warning btn-block" href="@uiRoutes.ClientController.regenerateIdAndSecretShow(app.appId)">Regenerate id and secret</a>
        } else {
            <a class="btn btn-lg btn-warning btn-block" href="@uiRoutes.ClientController.regenerateIdAndSecretShow(app.appId)">Regenerate id</a>
        }

        <hr>

        <a class="btn btn-lg btn-danger btn-block" href="@uiRoutes.ClientController.deleteClientShow(app.appId)">Delete @{app.name}</a>

        <hr>

        <a class="btn btn-lg btn-primary btn-block" href="@uiRoutes.ClientController.getAllClients()">Show all clients</a>

        <hr>
        <p class="mt-5 mb-3 text-muted">© CJWW Development 2016-@(DateTime.now().getYear)</p>
    </div>

    <script>
        const changeInputType = () => {
            if(document.getElementById("secret-text").hidden) {
                document.getElementById("secret-pass").setAttribute("hidden", "")
                document.getElementById("secret-text").removeAttribute("hidden")
            } else {
                document.getElementById("secret-text").setAttribute("hidden", "")
                document.getElementById("secret-pass").removeAttribute("hidden")
            }
        }
    </script>
}
