@import controllers.routes
@import controllers.ui.{routes => uiRoutes}
@import org.joda.time.DateTime
@import views.html.Main
@import views.html.helper.CSRF
@(app: RegisteredApplication)(implicit rh: RequestHeader)

@Main("View a registered client") {
    <div class="form-signin">
        <img class="mb-4" src="@routes.Assets.at("images/logo.png")" alt="" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Registered client</h1>
        <hr>

        <p class="default-text">@{app.name}</p>
        <p class="default-text">@{app.desc}</p>
        <p class="default-text">@{app.homeUrl}</p>
        <p class="default-text">@{app.redirectUrl}</p>
        <p class="default-text">@{app.clientType}</p>
        <p class="default-text">@{app.clientId}</p>
        @if(app.clientSecret.isDefined) {
            <p class="default-text">@{app.clientSecret.get}</p>
        }
        <p class="default-text">@{app.createdAt}</p>
        <hr>
        <p class="mt-5 mb-3 text-muted">© CJWW Development 2016-@(DateTime.now().getYear)</p>
    </div>
}
