@import controllers.routes
@import controllers.ui.{routes => uiRoutes}
@import views.AuthForView
@import views.html.Main
@import views.html.helper.CSRF

@(app: RegisteredApplication)(implicit rh: RequestHeader)

@Main("Delete client", AuthForView.isAuthenticated(rh), AuthForView.isOrgUser(rh)) {
    <form action="@uiRoutes.ClientController.deleteClientSubmit(app.appId)" method="post">
        <img class="mb-4" src="@routes.Assets.at("images/logo.png")" alt="" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Delete client</h1>
        <hr>

        @CSRF.formField

        <p class="default-text">You're about to delete one of your registered clients.</p>

        <p class="default-text display-4">@{app.name}</p>

        <div class="alert alert-warning" role="alert">
            Ensure you have taken the appropriate steps to stop traffic entering your registered client before deleting. If you delete your client and you still have active traffic, your client will stop working.
        </div>

        <hr>

        <button class="btn btn-lg btn-danger btn-block" type="submit">Delete @{app.name}</button>
    </form>
}
