@import controllers.ui.{routes => uiRoutes}
@import org.joda.time.DateTime
@import views.html.Main
@import views.AuthForView

@(mfaStatus: Boolean)(implicit rh: RequestHeader, msgs: MessagesApi, lang: Lang)

@Main("Account Security", AuthForView.isAuthenticated(rh), AuthForView.isOrgUser(rh)) {
    <div class="form-signin">
        <img class="mb-4" src="@routes.Assets.at("images/logo.png")" alt="" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Account security</h1>

        <hr>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Two factor authentication</h5>
                @if(mfaStatus) {
                    <p class="default-text">Your account is secured with two factor authentication</p>
                    <a href="@uiRoutes.AccountController.disableMFAConfirm()" class="btn btn-danger btn-block">Disable two factor</a>
                } else {
                    <p class="default-text">Secure your account with two factor authentication</p>
                    <a href="@uiRoutes.AccountController.totpSetup()" class="btn btn-success btn-block">Enable two factor</a>
                }
            </div>
        </div>

        <hr>

        <p class="mt-5 mb-3 text-muted">© CJWW Development 2016-@(DateTime.now().getYear)</p>
    </div>
}
