@import controllers.routes
@import controllers.ui.{routes => uiRoutes}
@import views.html.Main
@import views.html.helper.CSRF
@import views.AuthForView
@import views.html.components.forms.TextInput

@(user: UserInfo, emailInUse: Boolean, passwordForm: Form[ChangeOfPassword], nameForm: Form[Name])(implicit rh: RequestHeader, msgs: MessagesApi, lang: Lang)

@Main("Account details", AuthForView.isAuthenticated(rh), AuthForView.isOrgUser(rh)) {
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@@3.0.1" async></script>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/checkbox.css")">

    <div class="form-signin">
        <img class="mb-4" src="@routes.Assets.at("images/logo.png")" alt="" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Account details</h1>
        <hr>

        <div class="card card-blue">
            <div class="card-body">
                <svg data-jdenticon-value="@{user.email}" width="100" height="100"/>
                <h4 class="card-title">@{user.userName}</h4>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title default-text">Basic details</h4>
                <p class="default-text"><strong>User name</strong></p>
                <p class="default-text">@{user.userName}</p>
                <hr>
                <p class="default-text"><strong>Email address</strong></p>
                <p class="default-text">@{user.email}</p>
                <hr>
                <p class="default-text"><strong>Account type</strong></p>
                <p class="default-text">@{user.accType.capitalize}</p>
                <hr>
                <p class="default-text"><strong>Member since</strong></p>
                <p class="default-text">@{user.createdAt.toLocalDate}</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title default-text">Update email</h4>
                <form action="@uiRoutes.AccountController.updateUserEmail()" method="post">
                    @CSRF.formField

                    @if(emailInUse) {
                        <label for="email" class="sr-only">Email</label>
                        <input type="text" name="email" id="email" class="form-control form-input-topper is-invalid" placeholder="Email" value="@{user.email}">

                        <div class="alert alert-danger form-input-bottom alert-error-border" role="alert">
                            This email address is already in use
                        </div>
                    } else {
                        <label for="email" class="sr-only">Email</label>
                        <input type="text" name="email" id="email" class="form-control" placeholder="Email" value="@{user.email}">
                    }

                    <div id="email-update-warning">
                        <br>
                        <div class="alert alert-warning" role="alert">
                            Updating your email address will mean that it needs to be re-verified. An email will be sent to your new email address containing a verification link.
                        </div>
                    </div>

                    <hr>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update email</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title default-text">Update name</h4>
                <form action="@uiRoutes.AccountController.updateName()" method="post">
                    @CSRF.formField

                    @namesForm(nameForm)

                    <hr>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update name</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title default-text">Update password</h4>
                <form action="@uiRoutes.AccountController.updatePassword()" method="post">
                    @CSRF.formField

                    @changePasswordForm(passwordForm)

                    <hr>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update password</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        $("#email-update-warning").hide();

        $("#email").focusin(function() {
            $("#email-update-warning").show();
        }).focusout(function () {
            $("#email-update-warning").hide();
        });
    </script>
}

@changePasswordForm(form: Form[ChangeOfPassword]) = {
    @if(form.hasErrors) {
        @if(form("newPassword").hasErrors) {
            @form("newPassword").error.map { err =>
                @TextInput(
                    form("oldPassword"),
                    isReadOnly = false,
                    Symbol("_id") -> "oldPasswordInput",
                    Symbol("_name") -> "oldPassword",
                    Symbol("_label") -> "Old password",
                    Symbol("_type") -> "password",
                    Symbol("_class") -> "form-control form-input-topper"
                )

                @TextInput(
                    form("newPassword"),
                    isReadOnly = false,
                    Symbol("_id") -> "newPasswordInput",
                    Symbol("_name") -> "newPassword",
                    Symbol("_label") -> "New password",
                    Symbol("_type") -> "password",
                    Symbol("_class") -> "form-control form-input-middle"
                )

                @TextInput(
                    form("confirmPassword"),
                    isReadOnly = false,
                    Symbol("_id") -> "confirmPasswordInput",
                    Symbol("_name") -> "confirmPassword",
                    Symbol("_label") -> "Confirm password",
                    Symbol("_type") -> "password",
                    Symbol("_class") -> "form-control form-input-middle"
                )

                <div class="alert alert-danger form-input-bottom alert-error-border" role="alert">
                    @err.message
                </div>
            }
        }

        @if(form("oldPassword").hasErrors) {
            @form("oldPassword").error.map { err =>
                @TextInput(
                    form("oldPassword"),
                    isReadOnly = false,
                    Symbol("_id") -> "oldPasswordInput",
                    Symbol("_name") -> "oldPassword",
                    Symbol("_label") -> "Old password",
                    Symbol("_type") -> "password",
                    Symbol("_class") -> "form-control form-input-topper"
                )

                <div class="alert alert-danger form-input-bottom alert-error-border" role="alert">
                @err.message
                </div>

                <br>

                @TextInput(
                    form("newPassword"),
                    isReadOnly = false,
                    Symbol("_id") -> "newPasswordInput",
                    Symbol("_name") -> "newPassword",
                    Symbol("_label") -> "New password",
                    Symbol("_type") -> "password",
                    Symbol("_class") -> "form-control form-input-topper"
                )

                @TextInput(
                    form("confirmPassword"),
                    isReadOnly = false,
                    Symbol("_id") -> "confirmPasswordInput",
                    Symbol("_name") -> "confirmPassword",
                    Symbol("_label") -> "Confirm password",
                    Symbol("_type") -> "password",
                    Symbol("_class") -> "form-control form-input-bottom"
                )
            }
        }
    } else {
        @TextInput(
            form("oldPassword"),
            isReadOnly = false,
            Symbol("_id") -> "oldPasswordInput",
            Symbol("_name") -> "oldPassword",
            Symbol("_label") -> "Old password",
            Symbol("_type") -> "password",
            Symbol("_class") -> "form-control form-input-topper"
        )

        @TextInput(
            form("newPassword"),
            isReadOnly = false,
            Symbol("_id") -> "newPasswordInput",
            Symbol("_name") -> "newPassword",
            Symbol("_label") -> "New password",
            Symbol("_type") -> "password",
            Symbol("_class") -> "form-control form-input-middle"
        )

        @TextInput(
            form("confirmPassword"),
            isReadOnly = false,
            Symbol("_id") -> "confirmPasswordInput",
            Symbol("_name") -> "confirmPassword",
            Symbol("_label") -> "Confirm password",
            Symbol("_type") -> "password",
            Symbol("_class") -> "form-control form-input-bottom"
        )
    }
}

@namesForm(form: Form[Name]) = {
    @TextInput(
        form("firstName"),
        isReadOnly = false,
        Symbol("_id") -> "firstNameInput",
        Symbol("_name") -> "firstName",
        Symbol("_label") -> "First name",
        Symbol("_type") -> "text",
        Symbol("_class") -> "form-control form-input-topper"
    )

    @TextInput(
        form("middleName"),
        isReadOnly = false,
        Symbol("_id") -> "middleNameInput",
        Symbol("_name") -> "middleName",
        Symbol("_label") -> "Middle name",
        Symbol("_type") -> "text",
        Symbol("_class") -> "form-control form-input-middle"
    )

    @TextInput(
        form("lastName"),
        isReadOnly = false,
        Symbol("_id") -> "lastNameInput",
        Symbol("_name") -> "lastName",
        Symbol("_label") -> "Last name",
        Symbol("_type") -> "text",
        Symbol("_class") -> "form-control form-input-bottom"
    )
}