@import controllers.ui.{routes => uiRoutes}
@import org.joda.time.DateTime
@import views.html.Main
@import views.AuthForView

@(userDetails: Map[String, String])(implicit rh: RequestHeader, msgs: MessagesApi, lang: Lang)

@Main("Your account", AuthForView.isAuthenticated(rh), AuthForView.isOrgUser(rh)) {
    <div class="form-signin">
        <img class="mb-4" src="@routes.Assets.at("images/logo.png")" alt="" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Your account</h1>

        <hr>
        <p class="default-text">@{userDetails("userName")}</p>
        <p class="default-text">@{userDetails("email")}</p>
        <p class="default-text">@{userDetails("createdAt")}</p>
        <hr>
        <form class="form-signin" action="@{uiRoutes.LoginController.logout()}" method="get">
            <button class="btn btn-lg btn-primary btn-block" id="registration-submit" type="submit">Logout</button>
        </form>
        <hr>

        <p class="mt-5 mb-3 text-muted">© CJWW Development 2016-@(DateTime.now().getYear)</p>
    </div>
}
