@import views.html.Main
@import org.joda.time.DateTime

@()

@Main("This service is shuttered") {
    <div class="form-signin">
        <img class="mb-4" src="@routes.Assets.at("images/logo.png")" alt="" height="72">
        <h1 class="h3 mb-3 font-weight-normal">This service is shuttered</h1>

        <hr>

        <p class="default-text">This service is currently not available, please check back later.</p>

        <hr>

        <p class="mt-5 mb-3 text-muted">© CJWW Development 2016-@(DateTime.now().getYear)</p>
    </div>
}
