@import views.html.EmailMain
@import controllers.ui.routes

@(queryParam: String)(implicit rh: RequestHeader)

@EmailMain() {
  <img class="mb-4" src="https://cjww-dev-public-assets.s3.eu-west-2.amazonaws.com/logo.png" alt="" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Welcome</h1>

  <hr>

  <p class="default-text">Thank you for registering an account</p>
  <p class="default-text">Please click below to verify your email address</p>

  <hr>
  <a class="btn btn-lg btn-primary btn-block white-text" href="@routes.EmailController.verifyUserEmailAddress(queryParam).absoluteURL()">Verify your email</a>
}
